@tailwind base;
@tailwind components;
@tailwind utilities;

/* small project defaults */
html,body,#root { height: 100%; }
body {
  @apply bg-black text-slate-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
